<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jessica Barhoma</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.min.css" />
</head>

<body>
    <nav class="navbar bg-transparent navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle ml-auto" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">JESSICA BARHOMA</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="about_btn" href="#about">ABOUT</a></li>
                    <li><a id="skill_btn" href="#skills">SKILLS</a></li>
                    <li><a id="exp_btn" href="#experience">WORK EXPERIENCE</a></li>
                    <li><a id="edu_btn" href="#education">EDUCATION</a></li>
                    <li><a id="contact_btn" href="#skills">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="backgroundImage">
        <div class="introText" data-aos="fade-up" data-aos-offset="50" data-aos-duration="700">
            <h1>HELLO, I'M JESSICA</h1>
            <p>
                A motivated individual with in-depth knowledge of languages and development tools, seeking a position in a
                growth-oriented company where I can use my skills towards the success of the company while having the scope to
                develop new skills.
            </p>
        </div>
    </div>

    <div class="section" id="about">
        <div class="container cc-about">
            <div class="h2 text-center mb-4 title">ABOUT ME</div>
            <div class="row d-flex text-center" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    @*<p>
                            “Any fool can write code that a computer can understand.
                            Good programmers write code that humans can understand.”
                            <br /> — Martin Fowler
                        </p>*@

                    <h3 class="text-left">WHY YOU'RE GOING TO CONTACT ME...</h3>
                    <p class="text-justify">
                        I'm someone who loves challenging themselves,
                        demonstrates the ability to learn and
                        quickly comprehend new concepts,
                        has a creative mindset, approaches challenges in unique ways,
                        is great at problem solving,
                        has a strong commitment to quality,
                        has great attention to detail,
                        is a constant learner
                        and a strong team player.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <img src="~/images/profile_photo.png" />
                </div>
                <div class="contactInfo col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    @*<p class="text-left">
                            Name: Jessica Barhoma <br />
                            <span class="glyphicon glyphicon-earphone"></span> (613)-220-7093 <br />
                            Email: jessicabarhoma@gmail.com <br />
                        </p>
                        <span class="text-left">
                            <a class="fa fa-linkedin fa-3x" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvlHkKNNLcSLsNqWWVCclRTfgRckpMBBMWqNJFlMnprQhLZMhmDnHtgjrXxQcxNdXkqFFg" target="_blank"></a>
                            <a class="envelope" href="mailto:jessicabarhoma@gmail.com" target="_blank">
                                <img src="~/images/phonePicBlue.JPG" />
                            </a>
                            <a class="envelope" href="mailto:jessicabarhoma@gmail.com" target="_blank">
                                <img src="~/images/emailPicBlue.JPG" />
                            </a>
                        </span>*@


                    <span class="text-left grid-container">
                        <span class="item3">
                            <a class="envelope" href="mailto:jessicabarhoma@gmail.com" data-toggle="tooltip" data-placement="top" title="jessicabarhoma@gmail.com" target="_blank">
                                <img src="~/images/emailPicBlue.JPG" />
                            </a>
                            <p>jessicabarhoma@gmail.com</p>
                        </span>
                        <span class="item1">
                            <a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/" target="_blank"></a>
                            <p> jessica.barhoma</p>
                        </span>
                        <span class="item2">
                            <a class="envelope" href="tel:+1613-220-7093" data-toggle="tooltip" data-placement="top" title="+1 613-220-7093" target="_blank">
                                <img src="~/images/phonePicBlue.JPG" />
                            </a>
                            <p>+1 613-220-7093</p>
                        </span>
                    </span>




                </div>
            </div>
        </div>
    </div>

    <div class="section" id="skills">
        <div class="container cc-skills">
            <div class="row" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="techSkills-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="toolbar">
                        <div class='toolbar__dot toolbar__dot-left'></div>
                        <div class='toolbar__dot toolbar__dot-middle'></div>
                        <div class='toolbar__dot toolbar__dot-right'></div>
                    </div>
                    <div class="console"></div>
                    <div class="console-txt">
                        <div class="HomepageHeaderHero_codeContent-1TntE">
                            <p class="HomepageHeaderHero_line2">
                                <span class="white firstSpan css-typing"></span>
                                <span class="pink css-typing"></span>
                                <span class="blue css-typing"></span>
                                <span class="white css-typing"></span>
                                <span class="yellow css-typing"></span>
                                <span class="white css-typing"></span>
                            </p>
                        </div>

                        <ul id="Languages">
                            <li> Javascript (JQuery, Node.js, Bootstrap, React.js) </li>
                            <li> HTML5 & CSS </li>
                            <li> Microsoft SQL Server</li>
                            <li> C# </li>
                            <li> Java </li>
                            <li> VB.NET </li>
                            <li> vba </li>
                            <li> ASP.NET Core MVC </li>
                            <li> WPF (Windows Presentatiion Foundation) </li>
                            <li> XAML/XML </li>
                            <li> Infragistics 2016.X </li>
                            <li> MATLAB </li>
                        </ul>

                        <div class="HomepageHeaderHero_codeContent-3TntE">
                            <p class="HomepageHeaderHero_line3">
                                <span class="white firstSpan css-typing2"></span>
                                <span class="pink css-typing2"></span>
                                <span class="blue css-typing2"></span>
                                <span class="white css-typing2"></span>
                                <span class="yellow css-typing2"></span>
                                <span class="white css-typing2"></span>
                            </p>
                        </div>
                        <ul id="Tools&Platforms">
                            <li> Microsoft Azure SaaS</li>
                            <li> GitHub/Git</li>
                            <li> Visual Studio 2017</li>
                            <li> Microsoft TFS</li>
                            <li> Jira</li>
                            <li>Object-Oriented Programming</li>
                            <li>MS Office – Word, Excel, Access, OneNote, PowerPoint</li>
                            <li>Azure CI/CD</li>
                        </ul>
                    </div>
                </div>
                <div class="softSkills-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    SOFT SKILLS
                    <div class="softSkills-txt">
                        <ul>
                            <li>Fluent in English & French</li>
                            <li>Problem solving & critical thinking skills</li>
                            <li>Working under pressure</li>
                            <li>Team-oriented work habits</li>
                            <li>Flexibility/Adaptability</li>
                            <li>Work Ethics</li>
                            <li>Time management skills</li>
                            <li>Juggling multiple projects at a time</li>
                            <li>Analytical skills</li>
                            <li>Leadership skills</li>
                            <li>An eye for detail and accuracy</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section" id="experience">
        <div class="container cc-experience">
            <div class="h2 text-center mb-4 title">WORK EXPERIENCE</div>

            <div class="row" data-aos="fade-up" data-aos-offset="50" data-aos-duration="500">
                <div class="workTitle col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    Application Developer<br />Statistics Canada<br />May 2019 - present
                </div>
                <div class="statcan1_desc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>Updating the underlying SQL server database structure and processes</li>
                        <li>Optimizing complex SQL scripts for better performance</li>
                        <li>Writing and modifying application code in .NET and web services</li>
                        <li>Creating windows client apps with WPF using XAML, Infragistics, C#, vb.net</li>
                        <li>Web development with ASP.NET web apps for MS Azure cloud migration</li>
                        <li>Analyzing large financial data to identify discrepancies & bugs during testing</li>
                        <li>Interacting directly with the clients implementing the specifications</li>
                        <li>Designing, developing, and unit testing applications in accordance with established standards</li>
                        <li> Applying change management requests in response to user testing</li>
                        <li>Preparing documentation on the design, implementation, operation and maintenance of the software</li>
                        <li> Working with an agile team to design, develop, test, and maintain web and desktop-based applications</li>
                        <li> Support the full software delivery cycle of large systems used for financial reports and analysis</li>
                        <li>Create and present data to clients using Excel</li>

                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up" data-aos-offset="50" data-aos-duration="500">
                <div class="workTitle col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    Software Asset Management Technician<br />Statistics Canada<br />June 2018 - 2019
                </div>
                <div class="statcan1_desc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>Improve on a MS Access database that keeps track of STATCAN software and employee information to be used by coworkers for their daily tasks</li>
                        <li>Complete service requests in tight timelines</li>
                        <li>Daily communication with clients via email</li>
                        <li>Provide customer support and troubleshooting software requests (avg. 30/day)</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up" data-aos-offset="50" data-aos-duration="500">
                <div class="workTitle col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    Junior Engineer Co-op Term<br />ICOR Technology<br />May 2017 - July 2017
                </div>
                <div class="statcan1_desc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>Edit dimensions and specification of parts to meet requirements using SolidWorks</li>
                        <li>Develop and test robotic prototypes</li>
                        <li>Analyze test results and adjust design if needed</li>
                        <li>Complete assigned tasks within time and cost restraints</li>
                        <li>Update user manuals for products</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>




    <div class="section" id="education">
        <div class="container cc-experience">
            <div class="h2 text-center mb-4 title">EDUCATION</div>

            <div class="row" id="edu" data-aos="fade-up" data-aos-offset="50" data-aos-duration="500">

                <div class="statcan1_desc edu col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>BSc in Computing Technology with a BASc in Mechanical Engineering
                            <br /> Honours: <em>cum laude</em></li>
                    </ul>
                </div>
                <div class="workTitle col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    University of Ottawa<br />September 2014-2019
                </div>
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Last Modified: April 29, 2020 - Jessica Barhoma</p>
        </footer>
    </div>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" asp-append-version="true"></script>
    </environment>
    <script>
        AOS.init();
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>

